
<div class="modal fade " id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" >
                <div class="card">
                    <iframe width="750" height="400" src="https://www.youtube.com/embed/{{ keyVideo.key}}" frameborder="0" allowfullscreen></iframe>

                    <div class="card-body">
                        <h5 class="card-title">{{ detailMovie.title }}</h5>
                        <span><h6 class="card-subtitle mb-2 text-muted">Film </h6>votes ({{ detailMovie.vote_count }}) <h6></h6></span>
                        <p class="card-text">{{ detailMovie.overview }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
