       <div>
           <h4 class="d-flex justify-content-between align-items-center mb-3">
               <span class="text-muted">All Gendre</span>
           </h4>
           <ul class="list-group mb-3">

               {% for gen in genre.genres %}
                   <li class="list-group-item d-flex justify-content-between lh-sm">
                       <div class="form-check">
                           <input type="checkbox" class="form-check-input radioCheck" onclick="check(this, {{ gen.id }})"
                                  value="{{ gen.id }}" id="ocheckbox_{{ gen.id }}" />
                            <label class="form-check-label" for="flexCheckDefault">
                               {{ gen.name }}
                           </label>
                       </div>
                   </li>


               {% endfor %}
           </ul>
       </div>



