{% extends 'base.html.twig' %}
{% block head %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}

        <main>
            <div class="row g-3"></div>
            <div class="py-5 text-center mt-5">
                <figure class="figure">
                    <iframe width="1500" height="500" src="https://www.youtube.com/embed/{{ keyVideo.key}}" frameborder="0" allowfullscreen></iframe>

                    <h3>{{ topRated.title }}</h3>
                    <div class="accordion-body">
                        {{ topRated.overview }}
                    </div>
                </figure>
            </div>

            <div class="row g-3">
                <div class="col-md-5 col-lg-4 ">
                    {{ render(controller('App\\Controller\\MovieController::getAllGendre')) }}
                </div>
                <div class="col-md-7 col-lg-8  order-md-last" >
                    <div id='listMovies'>

                    </div>
                    <div id='detailMovie'>
                    </div>

                </div>
            </div>
        </main>



{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        function check(input, id) {
            var checkboxes = document.getElementsByClassName("radioCheck");

            for (var i = 0; i < checkboxes.length; i++) {
                //uncheck all
                if (checkboxes[i].checked == true) {
                    checkboxes[i].checked = false;
                }
            }

            //set checked of clicked object
            if (input.checked == true) {
                input.checked = false;
            } else {
                input.checked = true;
            }
            $.ajax({
                type: 'get',
                url: Routing.generate('movie_by_genre', {idGenre: id}, true),
                success: function (data) {
                    $('#listMovies').empty()
                    $('#listMovies').append(data)
                }
            });
        }
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{% endblock %}