<h4 class="mb-3">Movies</h4>
{% for movie in moviesByGenre %}
    <div class="card mb-3" style="max-width: 800px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="img-fluid" src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}"
                     alt="Card image cap">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>  <p class="card-text">({{ movie.vote_count }} votes)</p>
                    <p class="card-text"><small class="text-muted">{{ movie.release_date }}</small></p>
                    <p class="card-text">{{ movie.overview }}</p>
                    <button type="button" class="btn btn-primary"  onclick="show({{ movie.id }})" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        more detail
                    </button>


                </div>
            </div>
        </div>
    </div>
{% endfor %}


<script>
    function show(id)
    {

        $.ajax({
            type: 'get',
            url: Routing.generate('movie_detail', {idMovie: id}, true),
            success: function (data) {


                $('#detailMovie').empty();
                $('#detailMovie').append(data);
                $("#myModal").modal("show");

            }
        });
    }
</script>

